
.container {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.scoreBox {
  width: 150px;
  border: 1px solid black;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 10px;
}

.counter {
  font-size: 20px;
  font-weight: bold;
}

#gameBoard {
  width: 500px;
  margin: auto;
  text-align: center;
}

.gameSquare {
  width: 150px;
  height: 150px;
  background-color: grey;
  display: inline-block;
}

.X {
  background-color: red;
}

.O {
  background-color: blue;
}

.reset {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}