
.container {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

#gameBoard {
  width: 500px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

.gameSquare {
  width: 150px;
  height: 150px;
  background-color: grey;
  display: inline-block;
}

.gameSquare:nth-child(3) {

  clear: left;
}

.X {
  background-color: red;
}

.O {
  background-color: blue;
}

#reset {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px auto;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

}