
.container {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.scoreBox {
  width: 150px;
  border: 1px solid black;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 10px;
}

.playerBox {
  width: 150px;
  border: 1px solid black;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 10px;
}

.playerType {
  width: 150px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#gamePlay {
  width: 150px;
  padding: 10px 0;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#gamePlay.stop {
  background-color: red;
}

#gamePlay.start {
  background-color: green;
}

.counter {
  font-size: 20px;
  font-weight: bold;
}

#gameBoardContainer {
  display: inline-block;
}

#sideBar {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

#gameBoard {
  width: 500px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.gameSquare {
  width: 150px;
  height: 150px;
  background-color: grey;
  display: inline-block;
}

.X {
  background-color: #ff0000;

  transform-style: preserve-3d;
  -webkit-transform: rotateX(180deg); /* Safari */
  transform: rotateY(180deg);

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: transform 1s ease-out, background-color 0.5s ease-in-out 0.5s;
}

.O {
  background-color: blue;

  transform-style: preserve-3d;
  -webkit-transform: rotateX(180deg); /* Safari */
  transform: rotateY(180deg);

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: transform 1s ease-out, background-color 0.5s ease-in-out 0.5s;
}

.reset {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}